/* ===============================
   GOOGLE FONT
================================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ===============================
   RESET
================================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
    
}

html{
    scroll-behavior:smooth;
}

body{
    background:aliceblue;
    color:black;
    overflow-x:hidden;
   
}

section{
    scroll-margin-top:90px;
}

/* ===============================
   SCROLLBAR
================================= */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:black;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(to right, #831bcd ,#f9620f);
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:linear-gradient(to right, #831bcd ,#f9620f);
}

/* ===============================
   CONTAINER
================================= */

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

/* ===============================
   SECTION TITLE
================================= */

.section-title{

    text-align:center;
    font-size:42px;
    color:#0f172a;
    margin-bottom:60px;
    position:relative;

}

.section-title::after{

    content:"";
    width:80px;
    height:4px;
    background:black;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:-12px;
    border-radius:20px;

}

/* ===============================
   NAVBAR
================================= */

header{

    position:fixed;
    top:0;
    width:100%;
    background:linear-gradient(to right, #831bcd,#f9620f);
    z-index:1000;
    box-shadow:linear-gradient(to right, #831bcd,#f9620f);

    

}

.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    position:relative;
    
}

.logo{

    color:white;
    font-size:32px;
    font-weight:700;
    cursor:pointer;

}

.nav-links{

    display:flex;
    list-style:none;

}

.nav-links li{

    margin-left:35px;

}

.nav-links li a{

    color:white;
    text-decoration:none;
    font-size:17px;
    transition:.3s;

}

.nav-links li a:hover{

    color:black;

}

.menu-toggle{
    display:none;
    flex-direction:column;
    justify-content:space-between;
    width:36px;
    height:26px;
    background:transparent;
    border:none;
    cursor:pointer;
    padding:0;
}

.menu-toggle span{
    display:block;
    width:100%;
    height:3px;
    background:white;
    border-radius:3px;
}

/* ===============================
   BUTTON
================================= */

.btn{

    display:inline-block;
    padding:14px 30px;
    background:linear-gradient(to right, #831bcd , #f9620b);
    color:#0f172a;
    text-decoration:none;
    border-radius:8px;
    font-weight:600;
    transition:.4s;
    margin-right:15px;

}

.btn:hover{

    background:linear-gradient(to right,  #f9620b , #831bcd );
    transform:translateY(-5px);

}

.btn-outline{

    background:linear-gradient(to right, #831bcd , #f9620b);
    border:2px solid linear-gradient(to right,  #f9620b , #831bcd ); 
    color:black;

}

.btn-outline:hover{

    background:linear-gradient(to right,  #f9620b , #831bcd );
    color:black;

}



/* ===============================
   HERO SECTION
================================= */

.hero{

    width:90%;
    max-width:1200px;
    margin:auto;

    min-height:100vh;
    

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding-top:100px;

}

.hero-text{

    flex:1;

}

.intro{

    color:rgb(40, 37, 37);
    font-size:22px;
    margin-bottom:10px;

}

.hero-text h1{

    font-size:70px;
    margin-bottom:15px;

}

.hero-text h2{

    font-size:30px;
    color:#4a668a;
    margin-bottom:25px;

}

.description{

    max-width:600px;
    line-height:1.9;
    color:black;
    margin-bottom:40px;

}

.hero-buttons{

    margin-bottom:35px;

}

/* ===============================
   SOCIAL ICONS
================================= */

.social-icons{

    display:flex;
    gap:18px;

}

.social-icons a{

    width:48px;
    height:48px;
    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    background:#1e293b;

    color:white;

    font-size:20px;

    text-decoration:none;

    transition:.4s;

}

.social-icons a:hover{

    background:linear-gradient(to right, #831bcd ,#f9620f);
    color:white;
    transform:translateY(-8px);

}

/* ===============================
   HERO IMAGE
================================= */

.hero-image{

    flex:1;
    display:flex;
    justify-content:center;

}

.hero-image img{

    width:370px;
    height:370px;
    

   border-radius:50%;
    display: block;
    
    
    object-fit:cover;

    border:7px   #f9620f;

    box-shadow:0 0 40px rgba(56,189,248,.45);

    transition:.4s;

    margin:auto;

    overflow: hidden;

    margin-top: auto;

}

.hero-image img:hover{

    transform:scale(1.05);

}

@media (max-width: 768px) {
  .profile-pic img {
    max-width: 180px;
  }
}



/* ==========================================
   ABOUT SECTION
========================================== */

#about{
    padding:100px 8%;
    background:aliceblue;
}

.about-content{
    max-width:900px;
    margin:auto;
    text-align:center;
    color:black;
    line-height:2;
    font-size:18px;
}

.about-content strong{
    color:#1e293b;
}

/* ==========================================
   SKILLS SECTION
========================================== */

#skills{
    padding:100px 8%;
    background:aliceblue;
}

.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.skill-card{

    background:transparent;

    padding:25px;

    border-radius:15px;

    transition:.4s;

    box-shadow:0 5px 20px rgba(0,0,0,.3);

}

.skill-card:hover{

    transform:translateY(-10px);

    box-shadow:0 15px 35px rgba(2, 41, 53, 0.223);

}

.skill-card h3{

    margin-bottom:15px;

    color:#0f172a;

}

.progress{

    width:100%;

    height:20px;

    background:transparent;

    border-radius:20px;

    overflow:hidden;

}

.progress-bar{

    width:0;
    
    height:100%;

    text-align:right;

    padding-right:10px;

    color:#0f172a;

    font-size:12px;

    font-weight:bold;

    line-height:20px;

    background:linear-gradient(to right, #831bcd ,#f9620f);

    border-radius:20px;

    box-sizing:border-box;

    transition:width 1.5s ease-in-out;

}

.html{
    width:98%;
}

.css{
    width:95%;
}

.js{
    width:90%;
}

.git{
    width:94%;
}

.python{
    width:90%;
}

.react{
    width:80%;
}

.mysql{
    width:95%;
}

/* ==========================================
   EDUCATION SECTION
========================================== */

#education{

    padding:100px 8%;

    background:aliceblue;

}

.timeline{

    max-width:850px;

    margin:auto;

}

.timeline-card{

    background:transparent;

    padding:35px;

    border-left:5px solid #4a668a;

    border-right:5px solid #4a668a;

    border-radius:15px;

    transition:.4s;

    box-shadow:0 5px 20px rgba(214, 13, 13, 0.3);

}

.timeline-card:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 30px rgba(56,189,248,.25);

}

.timeline-card h3{

    color:#4a668a;

    margin-bottom:10px;

}

.timeline-card h4{

    margin-bottom:10px;

    color:black;

}

.timeline-card span{

    color:black;

    font-size:14px;

}

.timeline-card p{

    margin-top:20px;

    color:black;

    line-height:1.8;

}

/* ==========================================
   EXPERIENCE SECTION
========================================== */

#experience{

    padding:100px 8%;

    background:aliceblue;

}

.experience-card{

    max-width:900px;

    margin:auto;

    background:#1e293b;

    padding:40px;

    border-radius:15px;

    transition:.4s;

}

.experience-card:hover{

    transform:translateY(-10px);

    box-shadow:0 15px 35px rgba(56,189,248,.3);

}

.experience-card h3{

    color:#38bdf8;

    margin-bottom:10px;

}

h2{
    color:#4a668a;
    margin-bottom:10px;
}


.experience-card h4{

    margin-bottom:10px;

}

.experience-card span{

    color:#94a3b8;

    font-size:14px;

}

.experience-card p{

    margin-top:20px;

    line-height:1.8;

    color:#cbd5e1;

}

.experience-card ul{

    margin-top:25px;

    margin-left:20px;

}

.experience-card ul li{

    margin-bottom:12px;

    color:#e2e8f0;

}

/* ==========================================
   PROJECTS SECTION
========================================== */

#projects{
    padding:100px 8%;
    background:aliceblue;
}

.projects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.project-card{
    background:transparent;
    border-radius:15px;
    overflow:hidden;
    transition:.4s;
    box-shadow:0 10px 25px rgba(0,0,0,.3);
    border-left:5px solid #4a668a;

    border-right:5px solid #4a668a;
}

.project-card:hover{
    transform:translateY(-12px);
    box-shadow:0 20px 40px rgba(56,189,248,.35);
}

.project-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.project-content{
    padding:25px;
}

.project-content h3{
    color:#377d9b;
    margin-bottom:15px;
}

.project-content p{
    color:black;
    line-height:1.7;
    margin-bottom:20px;
}

.tech{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-bottom:25px;
}

.tech span{
    background:#377d9b;
    color:white;
    padding:8px 15px;
    border-radius:25px;
    font-size:14px;
}

.project-btn{
    display:inline-block;
    text-decoration:none;
    background:linear-gradient(to right, #831bcd ,#f9620f);
    color:white;
    padding:12px 22px;
    border-radius:8px;
    font-weight:600;
    transition:.3s;
}

.project-btn:hover{
    background:#f9620f;
}

/* ==========================================
   CERTIFICATES
========================================== */

#certificates{
    padding:100px 8%;
    background:aliceblue;
}

.certificate-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.certificate-card{
    background:transparent;
    padding:40px 25px;
    text-align:center;
    border-radius:15px;
    transition:.4s;
    box-shadow:0 10px 25px rgba(0,0,0,.3);
    border-left:5px solid #4a668a;

    border-right:5px solid #4a668a;
}

.certificate-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(0,0,0,0.1);
}

.certificate-card i{
    font-size:45px;
    color:#4a668a;
    margin-bottom:20px;
}

.certificate-card h3{
    margin-bottom:15px;
    color:#4a668a;
}

.certificate-card p{
    color:black;
}

.certificate-btn{
    display:inline-block;
    text-decoration:none;
    background:linear-gradient(to right, #831bcd ,#f9620f);
    color:white;
    padding:12px 22px;
    border-radius:8px;
    font-weight:600;
    transition:.3s;
}

.certificate-btn:hover{
    background:#f9620f;
}


/* ==========================================
   CONTACT
========================================== */

#contact{
    padding:100px 8%;
    background:aliceblue;
}

.contact-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:50px;
}

.contact-info h3{
    font-size:30px;
    margin-bottom:20px;
    color:#4a668a;
}

.contact-info p{
    color:black;
    margin-bottom:15px;
    line-height:1.8;
}

.info p i{
    color:#4a668a;
    margin-right:12px;
}

.contact-form{
    display:flex;
    flex-direction:column;
}

.contact-form input,
.contact-form textarea{
    background:transparent;
    color:black;
    border:none;
    outline:none;
    padding:16px;
    margin-bottom:20px;
    border-radius:10px;
    font-weight: bold;
    box-shadow:0 10px 25px rgba(0,0,0,.3);
}

.contact-form textarea{
    resize:none;
}

.contact-form button{
    border:none;
    cursor:pointer;
}

/* ==========================================
   FOOTER
========================================== */

footer{
    background:linear-gradient(to right,#831bcd,#f9620f);
    padding:10px 20px;
    text-align:center;
}

footer h2{
    color:white;
    margin-bottom:15px;
}

footer p{
    color:#cbd5e1;
}

.footer-icons{
    margin:25px 0;
}

.footer-icons a{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:45px;
    height:45px;
    background:#1e293b;
    color:white;
    border-radius:50%;
    margin:0 10px;
    text-decoration:none;
    transition:.3s;
}

.footer-icons a:hover{
    background:black;
    color:white;
}

.copyright{
    margin-top:20px;
    color:#94a3b8;
    font-size:14px;
}

/* ==========================================
   BACK TO TOP BUTTON
========================================== */

#topBtn{
    position:fixed;
    right:25px;
    bottom:25px;
    width:50px;
    height:50px;
    border:none;
    border-radius:50%;
    background:linear-gradient(to right,#831bcd , #f9620f);
    color:#0f172a;
    cursor:pointer;
    font-size:20px;
    display:none;
    transition:.3s;
    z-index:999;
}

#topBtn:hover{
    transform:translateY(-5px);
}

/* ==========================================
   RESPONSIVE
========================================== */

@media(max-width:992px){

.hero{
    flex-direction:column-reverse;
    text-align:center;
    gap:40px;
    padding-top:140px;
}

.hero-text h1{
    font-size:55px;
}

.hero-image img{
    width:300px;
    height:300px;
}

.contact-container{
    grid-template-columns:1fr;
}

}

@media(max-width:900px){

.navbar{
    padding:16px 5%;
}

.menu-toggle{
    display:flex;
}

.nav-links{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    right:0;
    flex-direction:column;
    background:linear-gradient(to right, #831bcd, #f9620f);
    padding:20px 5%;
    box-shadow:0 10px 20px rgba(0,0,0,.25);
}

.nav-links.active{
    display:flex;
}

.nav-links li{
    margin:0 0 12px 0;
}

.nav-links li a{
    display:block;
    padding:6px 0;
}

}

@media(max-width:768px){

.hero-text h1{
    font-size:42px;
}

.hero-text h2{
    font-size:22px;
}

.section-title{
    font-size:34px;
    margin-bottom:40px;
}

.hero-image img{
    width:250px;
    height:250px;
}

.hero-buttons{
    display:flex;
    flex-direction:column;
    align-items:stretch;
}

.btn{
    display:block;
    margin:0 0 15px 0;
    text-align:center;
}

.social-icons{
    justify-content:center;
    flex-wrap:wrap;
}

#about,
#skills,
#education,
#experience,
#projects,
#certificates,
#contact{
    padding:80px 5%;
}

.timeline-card,
.project-card,
.certificate-card,
.experience-card{
    padding:24px;
}

}

@media(max-width:600px){

.logo{
    font-size:28px;
}

.hero{
    width:100%;
    padding-top:120px;
    gap:30px;
}

.hero-text h1{
    font-size:32px;
}

.hero-text h2{
    font-size:18px;
}

.description{
    font-size:15px;
    line-height:1.7;
}

.section-title{
    font-size:28px;
}

.skills-grid,
.projects-grid,
.certificate-grid{
    grid-template-columns:1fr;
}

.contact-form input,
.contact-form textarea{
    padding:14px;
}

footer h2{
    font-size:24px;
}

}

